{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

<!-- Apple Messages Preview -->
<meta property="og:title" content="Projects" />
<meta property="og:image" content="http://keeganleary.com/static/keegan.jpeg" />

<!-- generate Project cards -->
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center">Projects</h2>
        <br />
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg">
                    <a href="{% url 'detail' project.id %}">
                        <img class="card-img-top" src="{{ project.image.url }}" />
                    </a>
                    <div class="card-body">
                        <a href="{% url 'detail' project.id %}">
                            <h5 class="card-title">{{ project.title }}</h5>
                        </a>
                        <p class="card-text">{{ project.summary }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}