<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">Keegan Leary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <li {% if '/projects/' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li {% if '/blog/' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                <a class="nav-link" href="{% url 'blog:list' %}">Blog</a>
            </li>
        </div>
    </div>
</nav>