{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

<!-- Apple Messages Preview -->
<meta property="og:title" content="Keegan Leary's Blog" />
<meta property="og:image" content="http://keeganleary.com/static/keegan.jpeg" />

{% block content %}
<div class="container">
    {% for post in  blog_posts %}
    <div class="card p-1 m-1 shadow-sm">
        <div class="card-body p-1 m-1">
            <div class="row">
                <div class="col-12">
                    <h3 class="card-title p-0 m-0">
                        {{ post.title }}
                    </h3>
                </div>
            </div>
            <p class="card-text p-0 m-0"><small class="text-muted">{{ post.pub_date|date }}</small></p>
            <p class="card-text">{{ post.text|safe|truncatechars:200 }}</p>
            <a href="{{ post.get_absolute_url }}">Read More &rarr;</a>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}